*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;

}

.container-product {
  width: 250px;
  height: 400px;
  margin: 20px 0;
  border: 1px solid rgb(195, 195, 195);
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.container-img {
  width: 120px;
  height: 170px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.container-img img {
  width: 100%;
  height: 100%;
}

.container-infos{
  width: 100%;
  padding: 5px 20px;
  
}

.product-title {
  font-size: 9px;
  font-weight: lighter;
  color: rgb(57, 57, 57);
  margin-top: 10px;
}

.product-casting{
  margin: 20px 0;
  font-size: 10px;
  color: rgb(134, 134, 134);
}

.product-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: rgb(220, 20, 27);
}

.product-rating{
    margin-top: 10px;
    font-size: 10px;
    color: #333;
}
